:root {
  --color-0: #ffffff; /* box color */
  --color-1: #cceecc; /* */
  --color-2: #e3f1af; /* */
  --color-3: #4bc84b; /* main color */
  --color-4: #71da35; /* sub  color */
  --color-5: #cff1af; /* */
}

/* ButtonAnim */
.btn-primary { background: var(--color-4); border-color: var(--color-1); }
.btn-primary:hover { animation: infinite rainbowLinkBG 3s; }

/* keyframe animations */
@keyframes rainbowLink {
  000% { color: var(--color-0); }
  010% { color: var(--color-1); }
  020% { color: var(--color-2); }
  030% { color: var(--color-3); }
  040% { color: var(--color-4); }
  050% { color: var(--color-5); }
  060% { color: var(--color-4); }
  070% { color: var(--color-3); }
  080% { color: var(--color-2); }
  090% { color: var(--color-1); }
  100% { color: var(--color-0); }
}
@keyframes rainbowLinkBG {
  000% { background-color: var(--color-0); }
  010% { background-color: var(--color-1); }
  020% { background-color: var(--color-2); }
  030% { background-color: var(--color-3); }
  040% { background-color: var(--color-4); }
  050% { background-color: var(--color-5); }
  060% { background-color: var(--color-4); }
  070% { background-color: var(--color-3); }
  080% { background-color: var(--color-2); }
  090% { background-color: var(--color-1); }
  100% { background-color: var(--color-0); }
}
@keyframes AquaLinkBG {
    0% { background-color: var(--color-5); }
    40% { background-color: var(--color-4); }
    100% { background-color: var(--color-5); }
}
@keyframes anim_hovered_background {
    0% { background-color: var(--color-1); }
    1% { background-color: var(--color-5); }
}
